# Байткод, оптимизированные файлы и DLL
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Папки с дистрибутивами и сборками
dist/
build/
*.egg-info/
*.egg

# Виртуальные окружения
venv/
env/
ENV/
.env/
.venv/

# Логи и файлы покрытия тестов
*.log
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
megalinter-reports

# Jupyter Notebook
.ipynb_checkpoints
.obsidian

# IDE и редакторы (пример для PyCharm)
.idea/
.vscode/

# Файлы конфигурации окружения
*.env

# Файлы настройки системы и OS
.DS_Store
Thumbs.db
